@tailwind base;
@tailwind components;
@tailwind utilities;

.fading-effect {
  animation: fadeInOut 1.5s linear infinite;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
